{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    {#        <h1>Hello {{ controller_name }}</h1>#}
    <li {{ app.request.get('_route') == 'main_page' ? 'active' }}>
        <a href="{{ path('main_page') }}">Вернуться на главную</a>
    </li>

    {% set totalPrice = 0 %}
    {% for kit in kits %}
        {% if kit.deliveryPizzaInKit != false %}
            <div>
                <div>
{#                    <div>{{ kit.id }}</div>#}
                    <h3>{{ kit.deliveryPizzaInKit.pizzaName }}</h3>
                    <div>{{ kit.deliveryPizzaInKit.pizzaPrice }} руб.</div>
                    <div>{{ kit.deliveryPizzaInKit.pizzaSize }} см.</div>
                    <p>{{ kit.deliveryPizzaInKit.pizzaComposition }}</p>
                    <a href="{{ path('removePizza', {'id':kit.id}) }}">Удалить из корзины</a>
                    {% set totalPrice = totalPrice + kit.deliveryPizzaInKit.pizzaPrice %}
                </div>
            </div>
        {% elseif kit.deliveryDrinkInKit != false %}
            <div>
                <div>
{#                    <div>{{ kit.id }}</div>#}
                    <h3>{{ kit.deliveryDrinkInKit.drinkName }}</h3>
                    <div>{{ kit.deliveryDrinkInKit.drinkPrice }} руб.</div>
                    <div>{{ kit.deliveryDrinkInKit.drinkVolume }} мл.</div>
                    <p>{{ kit.deliveryDrinkInKit.drinkComposition }}</p>
                    <a href="{{ path('removeDrink', {'id':kit.id}) }}">Удалить из корзины</a>
                    {% set totalPrice = totalPrice + kit.deliveryDrinkInKit.drinkPrice %}
                </div>
            </div>
        {% elseif kit.deliveryRollInKit != false %}
            <div>
                <div>
{#                    <div>{{ kit.id }}</div>#}
                    <h3>{{ kit.deliveryRollInKit.rollName }}</h3>
                    <div>{{ kit.deliveryRollInKit.rollPrice }} руб.</div>
                    <div>{{ kit.deliveryRollInKit.rollQuantity }} шт.</div>
                    <p>{{ kit.deliveryRollInKit.rollComposition }}</p>
                    <a href="{{ path('removeRoll', {'id':kit.id}) }}">Удалить из корзины</a>
                    {% set totalPrice = totalPrice + kit.deliveryRollInKit.rollPrice %}
                </div>
            </div>
        {% endif %}

    {% endfor %}

    <h3>Итого: {{ totalPrice }} руб.</h3>

    <a href="{{ path('order') }}">Оформить заказ</a>

{% endblock %}
